- load staticfiles

doctype html

html(
  lang="en",
  dir="ltr",
  data-url-site="{{ conf.SITE_URL }}",
  data-url-media="{{ conf.MEDIA_URL }}",
  data-url-static="{{ conf.STATIC_URL }}",
  data-url-events="{{ conf.EVENTS_URL }}",
  data-url-avatar="{{ conf.AVATAR_URL }}",
  data-environment="{{ conf.ENVIRONMENT }}"
)
  head
    include _head

    block meta_tags

    title
      block title
        | Welcome to Waaave | Learn and Share About Coding From Around the World
      |  | 
      | Waaave

    block stylesheets
      link(rel='stylesheet' href='{% static "vendor/bootstrap/stylesheets/bootstrap.css" %}', type='text/css', data-scope='common')
      link(rel='stylesheet' href='{% static "controllers/layout/stylesheets/layout.css" %}', type='text/css', data-scope='common')

    block javascripts
      script(src='{% static "vendor/jquery/javascripts/jquery.js" %}', type='text/javascript', data-scope='common')
      script(src='{% static "vendor/bootstrap/javascripts/bootstrap.js" %}', type='text/javascript', charset='utf-8', data-scope='common')
      script(src='{% static "controllers/layout/javascripts/layout.js" %}', type='text/javascript', charset='utf-8', data-scope='common')

      if user.is_authenticated
        script(type='text/javascript', data-scope='common').
          $(document).ready(function() {
            LayoutEvents.go();
          });

    block extra_head

  body
    header.headers
      include _header

    #body.body
      .alerts
        include _alert
      
      block content
      
      .end_body

    #misc.misc
      include notification/_growl_notification_base

    footer.footers
      block footer

    include _scripts
