- load static url

doctype html

html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content='yes')

  body(style='margin: 0; padding: 0;')
    table(
      style='display: block;',
      width='100%',
      border='0',
      cellspacing='0',
      cellpadding='0'
    )
      tbody(
        style='display: block; margin: 0; padding-top: 30px; padding-bottom: 40px;'
      )
        tr(style='display: block;')
          td(style='display: block;')
            table(style='display: block; margin: 0 auto;')
              tbody
                tr.container_center.container_logo(style='display: block; margin: 0; margin-bottom: 15px; padding: 0;')
                  img(
                    style='width: 144px; height: 38px; margin-left: 58px;',
                    src='{% static "controllers/layout/images/layout_both/logo.png" %}',
                    alt='waaave'
                  )
            
            table.container.wrapper(
              style='display: block; width: 555px; margin: 0 auto; padding: 40px 30px 35px; border-color: #d0d0d0; border-style: solid; background: #ffffff; border-width: 1px; line-height: 18px;',
              align='center'
            )
              tbody(style='margin: 0; padding: 0; display: block;')
                tr.container_center.container_title(style='margin: 0; margin-bottom: 15px; padding: 0; display: block; color: #454545; font-size: 20px; font-weight: bold; text-align: center;')
                  td(style='display: block; text-align: center; ', align='center')
                    block content_title

                tr.container_center.container_desc(style='margin: 0; padding: 0; display: block; color: #606060; font-size: 16px; margin-top: 6px; text-align: center;')
                  td(style='display: block; text-align: center; ', align='center')
                    block content_desc

                if has_go != False
                  tr.container_center.container_go(style='display: block; margin: 0; margin-top: 40px; margin-bottom: 30px; padding: 0; text-align: center;')
                    td(style='display: block; text-align: center;', align='center')
                      block content_go

                tr.container_center.container_meta(style='display: block; margin: 0; padding: 0; padding-top: 30px; color: #757575; font-size: 12px; text-align: center;')
                  td(style='text-align: left; display: block; margin-bottom: 10px;', align='left')
                    block content_meta

                  if has_footer != False
                    td(style='text-align: left; display: block;', align='left')
                      span.footer_disclaimer_element.footer_disclaimer_top(style='display: block; margin-bottom: 10px;')
                        block footer_disclaimer
                          | This email was sent to you because your account settings allow us to send you such emails. Those emails can be more or less important, either related to your account security or your network activity.

                      span.footer_disclaimer_element.footer_disclaimer_qa(style='display: block; margin-bottom: 10px;')
                        block footer_disclaimer_qa_1
                          | Don't want to receive emails from Waaave? 

                        a(style='color: #1f5691; text-decoration: none;', href='{% url_absolute "account.views.settings_notifications" %}')
                          block footer_disclaimer_qa_2
                            | Disable emails

                      span.footer_disclaimer_element.footer_disclaimer_qa(style='display: block;')
                        block footer_disclaimer_qa_3
                          | Not you who initiated this action? Your password may be compromised. 

                        a(style='color: #1f5691; text-decoration: none;', href='{% url_absolute "account.views.settings_credentials" %}')
                          block footer_disclaimer_qa_4
                            | Change password
            
            table(style='display: block; margin: 0 auto; margin-top: 18px;')
              tbody
                tr.footer_copyright(style='display: block; margin: 0 25px; padding: 0 30px; color: #606060; font-size: 11px;')
                  td.footer_copyright_left(style='float: left; display: block;')
                    | © {% now 'Y' %} 
                    
                    a(style='color: #606060; font-weight: bold; text-decoration: none;', href='{% url_absolute "home.views.root" %}') Waaave
                    
                    | , A Sharing Network for Developers.
