- load navigation

.sidebar-left-wrapper(
    class=('sidebar-left-wrapper-mini' if type == 'mini' else '')
)
  #sidebarLeft.sidebar-left.hide-on-mobile
    nav
      ul#sidebarLeftTabs.tabs
        if not user.is_authenticated
          a(href='{% url "account.views.login_social" "facebook" %}', data-async='disabled')
            li.tab.tab-facebook
              span.icon.icon-facebook
              span.value Facebook
              
              span.tooltip.tooltip-facebook
                span.arrow
                | Facebook Connect
              
              .clear
          
          a(href='{% url "account.views.login_social" "twitter" %}', data-async='disabled')
            li.tab.tab-twitter
              span.icon.icon-twitter
              span.value Twitter
              
              span.tooltip.tooltip-twitter
                span.arrow
                | Twitter Connect
              
              .clear
        
        else
          a(href='{% url "home.views.root" %}')
            li.tab.tab-timeline(
              class='{% active "^/($|timeline/)" %}'
            )
              span.icon.icon-timeline
              span.value Timeline
              
              span.tooltip
                span.arrow
                | Timeline
              
              .clear

        a(href='{% url "explore.views.root" %}')
          li.tab.tab-explore(
            class='{% active "^/explore/" %}'
          )
            span.icon.icon-explore
            span.value Explore
            
            span.tooltip
              span.arrow
              | Explore
            
            .clear

        if user.is_authenticated
          a(href='{% url "dashboard.views.tutorial_root" %}')
            li.tab.tab-dashboard(
              class='{% active "^/dashboard/" %}'
            )
              span.icon.icon-dashboard
              span.value Dashboard
              
              span.tooltip
                span.arrow
                | Dashboard
              
              .clear
          
          a(href='{% url "account.views.settings_root" %}')
            li.tab.tab-settings(
              class='{% active "^/account/settings/" %}'
            )
              span.icon.icon-settings
              span.value Settings
              
              span.tooltip
                span.arrow
                | Settings
              
              .clear

        if sidebar_left.moderation.is_visible
          a(href='{% url "moderation.views.tutorials" %}')
            li.tab.tab-moderation(
              class='{% active "^/moderation/" %}'
            )
              span.icon.icon-moderation
              span.value Moderation

              if sidebar_left.moderation.count_notifs > 0
                  span.notifs {{ sidebar_left.moderation.count_notifs }}

              span.tooltip
                span.arrow
                | Moderation
              
              .clear
