- load navigation

.spot-navigation
  .filters
    a.filter(
      class='{% active "^/spot/(\w+)/$" %}',
      href='{% url "spot.views.view_root" spot.item.slug %}'
    )
      | Timeline
    
    | 

    a.filter(
      class='{% active "^/spot/(\w+)/tutorials/$" %}',
      href='{% url "spot.views.view_tutorials" spot.item.slug %}'
    )
      | {{ count_items.tutorials }} Tutorial{{ count_items.tutorials|pluralize }}
    
    | 

    a.filter(
      class='{% active "^/spot/(\w+)/books/$" %}',
      href='{% url "spot.views.view_books" spot.item.slug %}'
    )
      | {{ count_items.books }} Book{{ count_items.books|pluralize }}
    
    | 

    a.filter(
      class='{% active "^/spot/(\w+)/waaavers/$" %}',
      href='{% url "spot.views.view_waaavers" spot.item.slug %}'
    )
      | {{ count_items.waaavers }} Waaaver{{ count_items.waaavers|pluralize }}
