- load avatar humanize numbers markup

comment_supercow_power = (comment_single['author']['is_myself'] or user.is_staff)

.comment-single
  | {% avatar_small comment_single.author.user 'complete' %}

  .comment-header
    a.username(href='{% url "user.views.main" comment_single.author.user.username %}')
      | {{ comment_single.author.user.first_name|title }} {{ comment_single.author.user.last_name|title }}
    
    if reply_comment.reply
      | replied:
    else
      | commented:
    
    span.separator ·
    span.ago {{ comment_single.meta.date|naturaltime }}

    if comment_single.meta.date != comment_single.meta.edit_date
      span.edited(title='Edited {{ comment_single.meta.edit_date|naturaltime }}')
        | Edited

    if comment_single.author.is_master
      span.badge.badge-blue Author
  
  comment_is_trimmed = (len(comment_single['body']) > 1000)

  .comment-content(
    class=('is_trimmed' if comment_is_trimmed else '')
  )
    | {{ comment_single.body|markdown_to_html|urlize }}

    if comment_is_trimmed
      .comment-trim-foot
        a.comment-trim-more.badge
          | Show more of this comment

  if comment_supercow_power
    form.comment-editor(
      action='{% url "comment.views.action" item_type item_id %}',
      method='post'
    )
      | {% csrf_token %}
      
      textarea.comment-field(
        name='comment_body',
        placeholder='Compose your edited comment.',
      )
        | {{ comment_single.body|urlize }}

      textarea.comment-original(
        name='comment_body_original',
      )
        | {{ comment_single.body|urlize }}
      
      input(
        type='hidden',
        name='comment_id',
        value='{{ comment_single.id }}'
      )

      input(
        type='hidden',
        name='comment_action',
        value='edit'
      )

      button.btn.btn-small.btn-warning.comment-submit(
        type='submit',
        name='comment_edit',
        value='1'
      )
        | Edit Comment
      
      a.comment-cancel(href='#')
        | Cancel

      include comment/_comment_parse_notice
      
      .clear
  
  .comment-footer-wrapper
    .comment-footer
      form#addComment.add-comment-form(
        action='{% url "comment.views.action" item_type item_id %}',
        method='post'
      )
        | {% csrf_token %}
        
        input(type='hidden', name='comment_id', value='{{ comment_single.id }}')
        input(type='hidden', name='comment_action')
        
        span.rank.rank-number(
          class=('rank-negative' if comment_single['meta']['relevance']['percent_relevant'] < 50 else 'rank-positive')
        )
          | {% subtract comment_single.meta.relevance.count_relevant comment_single.meta.relevance.count_irrelevant %}
        
        a.thumb-up(
          class=('active' if comment_single['meta']['relevance']['has_relevant'] else ''),
          href='#',
          data-action='relevant',
          data-tooltip='Please login first'
        )
        
        a.thumb-down(
          class=('active' if comment_single['meta']['relevance']['has_irrelevant'] else ''),
          href='#',
          data-action='irrelevant',
          data-tooltip='Please login first'
        )
        
        a.link-reply(href='#')
          | Reply
        
        if not comment_single.meta.is_flagged
          a.flag(href='#', data-action='flag', data-tooltip='Please login first')
            span.flag-icon
            | Flag
          
          span.flag-done Thanks for reporting.
        else
          span.flagged Flagged.

        if reply_comment.in_reply_to
          span.in-reply-to
            | in reply to 
            a(href='#', data-rel-id='{{ reply_comment.in_reply_to.id }}') {{ reply_comment.in_reply_to.full_name }} (Show the comment)

        if comment_supercow_power
          div.comment-controls
            button.btn.btn-tiny.comment-edit(data-action='edit', type='button') Edit
            button.btn.btn-danger.btn-tiny.comment-delete(data-action='delete', type='button', data-tooltip='Remove comment?') Remove

        .clear
