- load avatar

.reply.reply-template
  if user.is_authenticated
    | {% avatar_small request.user 'complete' %}
  else
    | {% avatar_small complete='complete' %}

  form.reply-form(action='{% url "comment.views.add" item_type item_id %}', method='post')
    | {% csrf_token %}
    
    .bubble
      textarea.comment-field(
        name='comment_body',
        placeholder='Leave a reply. Avoid replies like +1 or thanks.'
      )
      
      .clear
    
    input(
      type='hidden',
      name='comment_in_reply_to'
    )

    button.btn.btn-small.btn-primary.comment-submit(
      type='submit',
      name='comment_post',
      value='1',
      data-tooltip-login='Please login to reply to this comment'
    )
      | Reply
    
    a.comment-cancel(href='#')
      | Cancel

    include comment/_comment_parse_notice
    
    .clear
  
  .clear
