- load humanize

if comments.mains
  .comments
    if statistics != 'None'
      .statistics
        span.value
          | {{ comments.total_items|intcomma }} Comment{{ comments.total_items|pluralize }}
        | (by {{ comments.total_users|intcomma }} User{{ comments.total_users|pluralize }})

    for main_comment in comments.mains
      .comment(
        id='comment-{{ main_comment.id }}',
        data-level='1',
        data-id='{{ main_comment.id }}'
      )
        - with comment_single=main_comment
          include comment/_comment_single

      if main_comment.replies
        .comments-reply
          for reply_comment in main_comment.replies
            .comment(
              id='comment-{{ reply_comment.id }}',
              data-level='2',
              data-id='{{ reply_comment.id }}'
            )
              - with comment_single=reply_comment
                include comment/_comment_single
