- load humanize

.relevance(data-item-type='{{ item_type }}', data-item-id='{{ item_id }}')
  span.key Relevance
  
  .indicator
    .bar
      | {{ meta_relevant_len }}
      .green-bar(
        class=('green-nc' if count_relevant == 0 and count_irrelevant == 0 else 'green-w%s' % percent_relevant)
      )
      
      .clear
    
    span.percent(
      class=('red' if percent_relevant < 50 else '')
    )
      if count_relevant != 0 or count_irrelevant != 0
        | {{ percent_relevant }}%
      else
        | ?

    .numbers
      span.irrelevant
        | {{ count_irrelevant|intcomma }}
      span.relevant
        | {{ count_relevant|intcomma }} Waaaver{{ count_relevant|pluralize }}
      
      .clear
  
  .buttons
    form.form-relevance(action='{% url "relevance.views.action" item_type item_id %}', method='post')
      | {% csrf_token %}
      
      input(type='hidden', name='relevance')
      
      button.btn.btn-irrelevant(
        class=('btn-danger active' if has_irrelevant else ''),
        type='button',
        data-tooltip='Please login first'
      )
        span.irrelevant-minus
     
      button.btn.btn-relevant(
        class=('btn-success active' if has_relevant else ''),
        type='button',
        data-tooltip='Please login first'
      )
        span.relevant-plus
        span.relevant-text
          | Relevant
        
        .clear
      
      .clear
