.block-upload
  p.accepted-files
    | Max. accepted file size is 10MB.
    span.semibold (a modern browser is required)
    br
    | Supported file types: zip, doc, ppt, pdf, odt, odp, jpg and png.

  .uploader
    .upload-file
      span.field-label
        | Upload File
      
      input#fileInput.input-file(
        name='upload',
        type='file'
      )
      
      span.upload-message
      
      .clear

    .link-file
      span.field-label
        | Link for Img

      input.input-tag(
        type='text',
        name='upload',
        placeholder='http://'
      )

      button.btn.btn-primary.btn-copy-tag(type='button')
        | Copy Tag
      
      .clear
