.edit-bar
  mixin tag(name, value, type)
      span.icon.tag-button(
        class='icon-#{name}'
        data-tag='#{value}',
        data-tag-type='#{type}'
      )

  mixin area(name)
      span.block-area-icon.tag-button(
        class='block-area-icon-#{name}',
        data-tag='#{name}',
        data-tag-type='classic'
      )

  mixin emoticon(name, value)
      span.emoticon(
        class='emoticon-#{name}'
        data-tag='#{value}',
        data-tag-type='emoticon'
      )

  .block.block-text
    +tag('bold', 'b', 'classic')
    +tag('italic', 'i', 'classic')
    +tag('underline', 'u', 'classic')
    
    .clear
  
  .block.block-ta
    +tag('ta-left', 'left', 'classic')
    +tag('ta-center', 'center', 'classic')
    +tag('ta-right', 'right', 'classic')
    +tag('ta-justify', 'justify', 'classic')
    
    .clear
  
  .block.block-list
    +tag('ul', 'ul', 'list')
    +tag('ol', 'ol', 'list')
    +tag('steps', 'steps', 'steps')
    
    .clear
  
  .block.block-heading
    +tag('heading-1', 'h1', 'classic')
    +tag('heading-2', 'h2', 'classic')
    +tag('heading-3', 'h3', 'classic')
    
    .clear
  
  .block.block-various
    +tag('link', 'url', 'url')
    +tag('code', 'code', 'code')
    +tag('picture', 'img', 'img')
    +tag('quote', 'quote', 'quote')
    
    .clear
  
  .block-area
    .block-area-info
      +area('info')
      
      .clear
    
    .block-area.block-area-warning
      +area('warning')
      
      .clear
    
    .block-area.block-area-danger
      +area('danger')
      
      .clear
    
    .clear
  
  include dashboard/_dashboard_tutorial_edit_uploader
  
  .emoticons.hide-on-mobile
    .line
      +emoticon('smiling', ':)')
      +emoticon('blink', ';)')
      +emoticon('laughing', ':D')
      +emoticon('yuck', ':p')
      +emoticon('sad', ':(')
      +emoticon('embarrassed', ':s')
      +emoticon('slant', ':/')
      +emoticon('ambivalent', ':|')
      +emoticon('notamused', '--"')

      .clear
    
    .line
      +emoticon('crying', ':\'(')
      +emoticon('cool', 'B)')
      +emoticon('angry', ':@')
      +emoticon('naughty', '3:)')
      +emoticon('angel', 'o:)')
      +emoticon('nerd', '8)')
      +emoticon('moneymouth', ':$')
      +emoticon('thumbsup', ':+1:')
      +emoticon('thumbsdown', ':-1:')

      .clear
    
    .clear
  
  .clear
