extends dashboard/__dashboard

- load staticfiles

block title
  if tutorial_status == 'new'
    | Add
  else
    | Edit
  
  | a Tutorial | Dashboard

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/dashboard/stylesheets/dashboard_tutorial_edit.css" %}', type='text/css')
  link(rel='stylesheet' href='//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css', type='text/css')

block javascripts
  | {{ block.super }}
  script(src='{% static "assets/dashboard/javascripts/dashboard_tutorial_edit.js" %}', type='text/javascript')

block extra_head

block dashboard
  .editor-header
    if form.errors
      .alert-status
        .alert.alert-error
          span.icon
          | Please fix the form errors. You won't be able to save it until those are not fixed.

    elif moderation_status == 'accepted'
      .alert-status
        .alert.alert-success
          span.icon
          | You accepted this tutorial for publishing. It is now available on the network.

    elif moderation_status == 'refused'
      .alert-status
        .alert
          span.icon
          | You refused this tutorial for publishing. The author has been notified of your decision.

    elif edit_status == 'not_allowed'
      .alert-status
        .alert.alert-error
          span.icon
          | You are not allowed to make changes to this tutorial.

    elif edit_status == 'namespace_unavailable'
      .alert-status
        .alert.alert-error
          span.icon
          | The title you have chosen is already in use by another tutorial.

    elif edit_status == 'save_error'
      .alert-status
        .alert.alert-warning
          span.icon
          | There was an error saving your changes. Please retry.

    elif edit_status == 'save_done'
      .alert-status
        .alert.alert-success
          span.icon
          | Your changes have been saved.

          if form.online.value and tutorial_status == 'accepted'
            a(href='{% url "tutorial.views.view" tutorial_url.tag tutorial_url.slug %}', target='_blank')
              | See the changes.

    elif tutorial_status == 'being_moderated'
      .alert-status
        .alert
          span.icon
          | Your document is being moderated. You will notified when its status will change.

    .clear

  form#editorForm.editor-form(
    action='{{ form_save_action }}',
    method='post',
    enctype='multipart/form-data',
    data-save-action='{{ form_save_action }}',
    data-preview-action='{{ form_preview_action }}',
    data-preview-target='_blank'
  )
    | {% csrf_token %}

    .editor-content
      .tutorial-informations
        | {{ form.title }}
        
        for error in form.title.errors
          span.input-tooltip-error.title-error {{ error|escape }}

        | {{ form.tags }}

        .tutorial-options
          .checkbox-wrapper
            | {{ form.online }}

            label(for='tutorialOnline')
              span.img
            
            label.checkbox-classic-label(for='tutorialOnline')
              span.state-online.state-indicator(
                style=('display: none;' if not form['online'].value else '')
              )
                | Online
              
              span.state-offline.state-indicator(
                style=('display: none;' if form['online'].value else '')
              )
                | Offline
          
          | {{ form.level }}
        
        .clear

        for error in form.tags.errors
          span.input-tooltip-error.tags-error {{ error|escape }}

        for error in form.level.errors
          span.input-tooltip-error.level-error {{ error|escape }}

      .the-editor
        include dashboard/_dashboard_tutorial_edit_editbar
        | {{ form.content }}
        
        for error in form.content.errors
          span.input-tooltip-error.content-error {{ error|escape }}

    .editor-footer
      if request.user.is_staff
        | {{ form.moderation_message }}

        for error in form.moderation_message.errors
          span.input-tooltip-error.moderation-message-error
            | {{ error|escape }}

      else
        if tutorial_status == 'none'
          #isNotModerated.is-not-moderated
            span.value
              | Your tutorial is not validated and does not appear on the waaave yet. To moderate it, change its status to online. You'll be notified of the validation as soon as possible.
            
            .clear

        if tutorial_status == 'moderated'
          #isModerating.is-moderating
            span.value
              | Your tutorial is currently moderated. To undo this action, change its status to offline.
            
            .clear

        if tutorial_status == 'refused'
          #isRefused.is-refused
            span.value
              | Your tutorial has been refused. Make your modifications and change its status to online to resend it to us.
            
            .clear

        if tutorial_status == 'accepted'
          #isValidated.is-validated
            span.value
              | Your tutorial has already been validated by our team. Your modifications will appear right after the saving.
            
            .clear

      .actions
        button.btn.btn-primary.btn-save(name='edit_save', value='1', tabindex='1') Save
        
        if form_preview_action
          button.btn.btn-preview(name='edit_preview', value='1', tabindex='2') Preview

      if request.user.is_staff and tutorial_status != 'new'
        .actions-moderation
          if tutorial_status != 'accepted'
            button.btn.btn-success.btn-validate(name='moderation_validate', value='1', tabindex='3')
              | Validate

          elif tutorial_status != 'refused'
            button.btn.btn-danger.btn-refuse(name='moderation_refuse', value='1', tabindex='4')
              | Refuse

      .clear
