extends dashboard/__dashboard

- load staticfiles

block title
  | Tutorial Manager | Dashboard

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/dashboard/stylesheets/dashboard_tutorial_root.css" %}', type='text/css')

block javascripts
  | {{ block.super }}
  script(src='{% static "assets/dashboard/javascripts/dashboard_tutorial_root.js" %}', type='text/javascript')

block extra_head

block dashboard
  form#managerForm.manager-form(action='{% url "dashboard.views.tutorial_trash" %}', method='post')
    | {% csrf_token %}
    
    .filter-bar
      include dashboard/_dashboard_tutorial_trash
      
      .filters
        .filter.filter-all.filter-active
          | All
        
        .filter.filter-accepted(data-val='accepted')
          span.number
            | {{ tutorial_statuses.accepted }}
          | Accepted
        
        .filter.filter-refused(data-val='refused')
          span.number
            | {{ tutorial_statuses.refused }}
          | Refused
        
        .filter.filter-being-moderated(data-val='moderated')
          span.number
            | {{ tutorial_statuses.moderated }}
          | Being Moderated
        
        .clear

      .clear

    .tutorials
      if tutorial_list
        .tutorials-info
          | Your {{ tutorial_list|length }} Tutorial{{ tutorial_list|length|pluralize }} are automatically sorted according to their edition date.

      for cur_tutorial in tutorial_list
        .tutorial(data-filter='{{ cur_tutorial.status.short }}')
          .checkbox-wrapper
            input.checkbox-classic(
              id='checkboxClassicOff{{ forloop.counter }}',
              type='checkbox',
              name='tutorial_id',
              value='{{ cur_tutorial.id }}'
            )
            
            label(for='checkboxClassicOff{{ forloop.counter }}')
              span.img
          
          .tutorial-details
            .title
              a(href='{% url "dashboard.views.tutorial_edit" cur_tutorial.id %}')
                | {{ cur_tutorial.title.full }}
            
            .cutline.cutline-availability.hide-on-mobile
            
            .availability.hide-on-mobile
              if cur_tutorial.is_online
                a.online(href='{% url "tutorial.views.view" cur_tutorial.tag.short cur_tutorial.title.slug %}')
                  | Online
              else
                if cur_tutorial.is_pending
                  span.pending Pending
                else
                  span.offline Offline
            
            .cutline.cutline-status.hide-on-mobile
            
            .status
              span(
                class='{{ cur_tutorial.status.short }}'
              )
                | {{ cur_tutorial.status.full }}
            
            .clear
          
          .clear
